.hero{

    min-height:100vh;

    display:flex;

    align-items:center;

    background:

    radial-gradient(circle at top left,#EAE7FF,transparent 35%),

    radial-gradient(circle at bottom right,#DDE8FF,transparent 35%),

    #F7F8FC;
}

.hero-content{

    max-width:720px;
}

.hero h1{

    font-size:72px;

    line-height:1.05;

    margin-bottom:25px;

    font-weight:800;
}

.hero p{

    font-size:22px;

    color:#666;

    line-height:1.7;

    margin-bottom:40px;
}

.hero-buttons{

    display:flex;

    gap:20px;
}

.primary{

    background:#4C3AE3;

    color:white;

    padding:18px 34px;

    border-radius:14px;

    transition:.3s;
}

.secondary{

    border:2px solid #4C3AE3;

    color:#4C3AE3;

    padding:18px 34px;

    border-radius:14px;

    transition:.3s;
}

.primary:hover,
.secondary:hover{

    transform:translateY(-4px);
}
.hero-wrapper{

    display:grid;

    grid-template-columns:1fr 1fr;

    align-items:center;

    gap:80px;
}

.hero-tag{

    display:inline-block;

    padding:10px 18px;

    background:#ECE9FF;

    color:#4C3AE3;

    border-radius:40px;

    font-weight:700;

    margin-bottom:20px;
}

.hero-image img{

width:360px;

border-radius:42px;

padding:10px;

background:black;

box-shadow:

0 40px 90px rgba(0,0,0,.25);

animation:float 4s ease-in-out infinite;

}

.hero-image img:hover{

    transform:translateY(-10px);

}
@keyframes float{

0%,100%{

transform:translateY(0px);

}

50%{

transform:translateY(-18px);

}

}
.hero-badge{

display:inline-block;

padding:10px 18px;

background:white;

border-radius:30px;

box-shadow:0 8px 25px rgba(0,0,0,.08);

margin-bottom:25px;

font-weight:700;

color:#4C3AE3;

}